<p id="notice"><%= notice %></p>

<h1>Animals</h1>
<div class="row">
  <div class="col-9">
    <%= will_paginate @animals, :page_links => false %>
    <br>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">Specie</th>
        <th scope="col">Breed</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th colspan="3" class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= animal.specie.capitalize %></td>
          <td><%= animal.breed.capitalize %></td>
          <td><%= animal.gender.capitalize %></td>
          <td><%= animal.age %></td>
          <td><%= link_to 'Show', animal %></td>
          <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
          <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @animals, :page_links => false %>

    <br>

<%= link_to 'New Animal', new_animal_path %>