<p id="notice"><%= notice %></p>

<p>
  <strong>Specie:</strong>
  <%= @animal.specie.capitalize %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @animal.breed.capitalize %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @animal.gender.capitalize %>
</p>

<p>
  <strong>Age:</strong>
  <%= @animal.age %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
